body{
    padding-top:40px;
}

.highlight{
/*    background: cyan;*/
/*    border: solid 1px #555;*/
    font-family: Georgia;
    color: black;
    font-size: 14px;
}
#scrollerBox{
    position: relative;
    height: 400px;
    overflow: auto;
    border: solid 1px #ccc;
    padding:20px;
}
